
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-tw"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>模擬選課系統 - 查詢範例</title>


  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body ng-app="CourseQuery">

  <div class="container">
    <div class="row">
        <h1>課程查詢</h1>
    </div>
    <div class="row" ng-controller="Navigation">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li ng-class="{active: isCurrent('CourseController')}"><a href="/default">傳統模式</a></li>
            <li class="divider"></li>
            <li ng-class="{active: isCurrent('CalendarController')}"><a href="/calendar">課表模式</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>

    <div>
      {{$location.path()}}
    </div>
  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="javascripts/app.js"></script>

</body>
</html>
